<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
  
  <targets async="true">
    <target name="jsonFile"
      xsi:type="File"
      fileName="C:\Logs\DoYouCare\json\${shortdate}-${processname}.json"
      archiveFileName="C:\Logs\DoYouCare\json\archives\${shortdate}.{#}.json"
      archiveAboveSize="5242880"
      archiveEvery="Day"
      archiveNumbering = "Rolling">
      <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2">
        <attribute name="time" layout="${longdate}" />
        <attribute name="machine" layout="${machinename}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="processname" layout="DoYouCare" />
        <attribute name="output" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring:maxInnerExceptionLevel=2}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="jsonFile" />
  </rules>
</nlog>
